<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741530247032-q5dtqjaerja77okvjhbllhf9o62aq8on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741530247032-q5dtqjaerja77okvjhbllhf9o62aq8on</string>
	<key>API_KEY</key>
	<string>AIzaSyA0FyZUxZa64W7eECGqMETpfBQofnu8ulg</string>
	<key>GCM_SENDER_ID</key>
	<string>741530247032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dashboard.flutter.app.flutterDashboard</string>
	<key>PROJECT_ID</key>
	<string>healthybuddy-f4e23</string>
	<key>STORAGE_BUCKET</key>
	<string>healthybuddy-f4e23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741530247032:ios:c05d34b88ccf3db5c2728d</string>
</dict>
</plist>